# {{ doc_file | split('.') | first | replace('_', ' ') | replace('-', ' ') | title }}
{% if doc_intro is arista.avd.defined %}

{{ doc_intro }}
{% endif %}

## Variables and Options
{% for key in doc_keys if key in schemas %}
{%     set schema = schemas[key] %}

### {{ key }}
{%     if schema.description is arista.avd.defined %}

{{ schema.description }}
{%     endif %}

```yaml
{{ print_doc_line(key, schema) -}}
```
{%     if schema.example is arista.avd.defined %}

<details>
<summary>Example</summary>

```yaml
{{ key }}:
  {{ schema.example | to_nice_yaml(indent=2) | indent(2) -}}
```

</details>
{%     endif %}

<details>
<summary>Schema</summary>

```yaml
{{ key }}:
  {{ schema | to_nice_yaml(indent=2) | indent(2) -}}
```

</details>
{% endfor %}
