# MAC address-table aging time | Optional
# Use to change the EOS default of 300
mac_address_table:
  description: MAC address-table aging time. Use to change the EOS default of 300
  type: dict
  options:
    aging_time:
      type: int
      description: Aging time in seconds
