{% if event_handlers is arista.avd.defined %}
event_handlers:
{%     for event_handler in event_handlers | convert_dicts %}
  {{ event_handler.name }}:
{%         if event_handler.action is arista.avd.defined and event_handler.action_type is arista.avd.defined %}
    action_type: {{ event_handler.action_type }}
    action: {{ event_handler.action }}
{%         endif %}
{%         if event_handler.delay is arista.avd.defined %}
    delay: {{ event_handler.delay }}
{%         endif %}
{%         if event_handler.asynchronous is arista.avd.defined(true) %}
    asynchronous: true
{%         endif %}
{%         if event_handler.trigger is arista.avd.defined %}
    trigger: {{ event_handler.trigger }}
{%             if event_handler.regex is arista.avd.defined %}
    regex: {{ event_handler.regex }}
{%             endif %}
{%         endif %}
{%    endfor %}
{% endif %}
