local_users:
{% for local_user in local_users | arista.avd.convert_dicts | arista.avd.natural_sort('name') %}
  {{ local_user.name }}:
{%     if local_user.privilege is arista.avd.defined %}
    privilege: {{ local_user.privilege }}
{%     endif %}
{%     if local_user.role is arista.avd.defined %}
    role: {{ local_user.role }}
{%     endif %}
{%     if local_user.sha512_password is arista.avd.defined %}
    sha512_password: {{ local_user.sha512_password }}
{%     elif local_user.no_password is arista.avd.defined(true) %}
    no_password: true
{%     endif %}
{% endfor %}
